$font-family-main: 'Roboto Flex', sans-serif;
//SIZE
$font-size-main: 14px;
$font-size-h1: 36px;
$font-size-h2: 24px;
//COLORS
$black: #000;
$white: #fff;
$baige: #F4F4F4;
$title: $baige;
$text: $white;
$bg: #121212;
$frame: #282828;

